@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  @apply text-white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn {
  @apply focus:ring focus:ring-sky-300/25 transition rounded-full px-3 flex items-center space-x-px;
}

.btn-outline {
  @apply btn hover:border-slate-600/75 border-slate-600/50 border hover:bg-slate-600/75;
}

.btn-primary {
  @apply btn hover:bg-slate-600/75 bg-slate-600/50;
}
